@model ProfileViewModel

@{
    string phonenumber = Model.PhoneNumber ?? "No Phone Number Added";
    int? friend_key = (int?)ViewData["friend"];
}

<div class="row w-100 m-0 p-0 mb-1">

    @if (Context.User.Identity.Name == Model.Email)
    {
        <div class="col">
            <div class="shadow-sm rounded-bottom position-sticky top-0">
                <div class="p-3 m-1 d-block">
                    @Html.ActionLink("Edit Your Profile", "Update", new { controller= "Profile" }, new { @class = "text-decoration-none text-dark" })
                </div>
                <div class="p-3 m-1 d-block">
                    @Html.ActionLink("Friend Requests", "Index", new { controller="Friend" }, new { @class = "text-decoration-none text-dark" })
                </div>
                <div class="p-3 m-1 d-block">
                    @Html.ActionLink("Show Friends", "ShowFriends", new { controller="Friend" }, new { @class = "text-decoration-none text-dark" })
                </div>
                <div class="p-3 m-1 d-block">
                    <a href="#" class='text-decoration-none text-dark'><span>Reset Your Password</span></a>
                </div>

            </div>
        </div>
    }


    <div class="col-md-9 col-12 shadow-sm overflow-auto d-block m-auto">
        <div class="col-md-9 col-12 m-auto mb-1">
            @if (Model.Image == null || String.IsNullOrEmpty(Model.Image))
            {
                <img src="/upload/profile/default.jpg" class="img-fluid rounded-3 py-1" />
            }
            else
            {

                <img src=@Url.Content(Model.GetUrl()) class="img-fluid rounded-3 py-1" />
            }
        </div>

        <div class="d-flex m-1 justify-content-end me-auto py-2">
            @if (Context.User.Identity.Name != Model.Email)
            {
                switch (friend_key)
                {
                    case 0:
                        <div>
                            @using (Html.BeginForm("Make", "Friend", new { id = Model.UserId }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" class="btn btn-light text-decoration-none" role="button" value="Add Friend">
                            }
                        </div>
                        break;
                    case 1:
                        <div>
                            <a class="btn btn-primary text-decoration-none" role="button" asp-action="Index" asp-controller="Blog">
                                Friend
                            </a>
                        </div>
                        break;
                    case 2:
                        <div>
                            <a class="btn btn-secondary text-decoration-none" role="button">
                                Pending
                            </a>
                        </div>
                        break;
                    case 3:
                        <div>
                            @Html.ActionLink("Accept", "Confirm", "Friend", new { @class = "btn btn-primary text-decortaion-none", role = "button" })
                            @Html.ActionLink("Cencel", "Cencel", "Friend", new { @class = "btn btn-danger text-decortaion-none", role = "button" })

                        </div>
                        break;
                }

            }
        </div>
        <div class="p-3 border-bottom border-1 mt-2">
            <div class="p-1 h5 fw-normal">Name</div>
            <div class="px-3 m-1"> @Model.DisplayName </div>
        </div>
        <div class="p-3 border-bottom border-1">
            <div class="p-1 h5 fw-normal">Email</div>
            <div class="px-3 m-1"> @Model.Email </div>
        </div>
        <div class="p-3 border-bottom border-1">
            <div class="p-1 h5 fw-normal">Phone Number</div>
            <div class="px-3 m-1"> @phonenumber </div>
        </div>
        <div class="p-3 border-bottom border-1">
            <div class="p-1 h5 fw-normal">
                Address
            </div>
            <div class="px-3 m-1"> @Model.address </div>
        </div>
        <div class="p-3 border-bottom border-1">
            <div class="p-1 h5 fw-normal">Date Of Birth</div>
            <div class="px-3 m-1"> @Model.Date_Of_Birth </div>
        </div>
    </div>

</div>