@model BlogCreateViewModel


<div class='m-2 p-3'>
    @using (Html.BeginForm("Create", "Blog", FormMethod.Post, new { entype = "multipart/formdata" }))
    {
        @Html.ValidationSummary()
        @Html.AntiForgeryToken()
        <div class='m-1 p-1'>
            @Html.LabelFor(p=> p.Title, new  { htmlAttributes =new { @class = "form-label" }  })
            @Html.EditorFor(p=> p.Title,new { htmlAttributes=new { @class = "form-control", placeholder = "Title" } })
        </div>
        <div class='m-1 p-1'>
            @Html.LabelFor(p => p.Content, new { htmlAttributes = new { @class = "form-label" } })
            @Html.EditorFor(p => p.Content, new { htmlAttributes = new { @class = "form-control", placeholder = "Content" } })
        </div>
        @*<div class='m-1 p-1'>
            <label asp-for="Image" class="form-label">Image</label>
            <input asp-for='Image' class='form-control' placeholder="Content" />
        </div>*@
        <div class='m-1 p-1'>
            <input type='submit' class='btn btn-primary' value="Create" />
        </div>
    }
</div>