<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - communicator</title>
    @Styles.Render("~/Content/css")
</head>

<body class="">
    <header class="p-1">
        <nav class="p-1 navbar navbar-light navbar-expand-lg bg-light">
            <div class="navbar-brand fs-4 mb-1">
                Truth Media
            </div>
            <button type="button" class="navbar-toggler" data-bs-target="#navrealpart" data-bs-toggle="collapse" aria-controls="navrealpart" aria-expanded="false" aria-labelledby="navrealpart">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navrealpart">
                <ul class="navbar-nav ms-auto ">
                    <li class="navbar-item mx-1 p-1">@Html.ActionLink("Home", "Index", new { controller= "Home" }, new { @class = "nav-link text-decoration-none" })</li>
                    <li class="navbar-item mx-1 p-1">@Html.ActionLink("Blog", "Index", new { controller = "Blog" }, new { @class = "nav-link text-decoration-none" })</li>
                    <li class="navbar-item mx-1 p-1">@Html.ActionLink("Privacy", "Privacy", new { controller = "Home" }, new { @class = "nav-link text-decoration-none" })</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class='nav-item'>
                            <div class='dropdown'>
                                <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        id="nav-dropdown">
                                    @User.Identity.Name
                                </button>
                                <ul class='dropdown-menu w-100' aria-labelledby="nav-dropdown">
                                    <li>
                                        @Html.ActionLink("Profile", "Index", new { controller= "Profile" }, new { @class = "dropdown-item" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Saved Posts", "Index", new { controller="Save" }, new { @class = "dropdown-item" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Show Friends", "Index", new { controller = "Friend" }, new { @class = "dropdown-item" })
                                    </li>
                                    <li>
                                        @using (Html.BeginForm("Logout", "Identity", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="submit" class="dropdown-item" value="Sign Out">
                                        }
                                    </li>
                                </ul>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class='navbar-item mx-2 p-1'>
                            @Html.ActionLink("Login", "Login", new { controller = "Identity" }, new { @class = "btn btn-primary" })
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container container-main">
        <main role="main" class="pb-3 min-vh-75 main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-auto">
        <div class="container">
            &copy; 2022 - communicator - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
